<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Moja Strona</title>
    </head>
    <body>
        <div class="container">
            <div class="content">
            {% if messages %}
                {% for message in messages %}
                <p class="notification{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>